
 # Instructions:
- Please enter (and check!) your name and email address in the `get_consultant_name` function, just below this text.
- Please enter in your answers 1-11 in the code cells starting with `# submit` by replacing the `pass` statement.
- You can use code cells below the `# submit` cell for each question to work out your solutions and test (call) your functions/classes. We won't use these for marking. 
- Alternatively, you can use another notebook to come up with your function/class and then paste the function into the `# submit` cell in this notebook.
- Before you submit your file, please *restart your kernel*, and then run all cells from the top, 
making sure that there are no errors or unhandled exceptions. 
(Please handle, comment out, or delete, any source code that raises an Exception)
- If this paper is being taken under test conditions, then:
    - Normally **three hours** is allowed to complete all questions. 
    - Your best 10 answers count, i.e. you receive a mark out of 50, scaled to a percentage.
    - This is an 'open book' test, i.e. access to your notes and on-line resources is allowed. However, no AI-assisted coding is allowed.
    - Please ensure that this is only your own work: DO NOT ACCEPT HELP FROM OTHERS (OR GIVE IT!).

In [1]:

def get_consultant_name():
    first_name = 'kyle'
    last_name = 'suter'
    email = 'kylesuter@kubrickgroup.com'
    return first_name, last_name, email

1. Split Odd and Even Elements
-------------------------------
Write a function that accepts a single input argument (`input_list`) and returns a tuple of two lists. 
        The first list in the tuple should contain the odd integers present in the input list. 
        The second list should contain the even integers present in the input list. 
        Non-integer elements (including bools) of the input list should not be included in either output list. 
        


Required Signature:

    def split_odd_even(input_list):  
        pass  

for example, calling `split_odd_even([5, 4, 3, 2, 1])` will return `([5,3,1], [4,2])`

for example, calling `split_odd_even([True, False, 'Hello', [1,2,3], 0, 1])` will return `([1], [0])`

In [2]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
def split_odd_even(input_list):  
    odd_list=[]
    even_list=[]
    for i in input_list:
        if type(i) == int:
            if i % 2 == 0:
                even_list.append(i)
            elif i % 2 == 1:
                odd_list.append(i)
    my_tuple = (odd_list, even_list)
    return my_tuple


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [3]:

#split_odd_even([5, 4, 3, 2, 1])
split_odd_even([True, False, 'Hello', [1,2,3], 0, 1])

([1], [0])

2. Flatten List
-------------------------------
Write a function that accepts a single input argument `input_list` and returns a list. 
The elements in the input list are either integers, or sub-lists containing integers. 
The output list should contain all the integers in a single list, 
in the same order as originally presented. (4 marks)

For one further mark, allow sub-lists to also contain sub-lists themselves, in addition to integers. 
The output is still expected to be a single list containing only the integers, 
in the same order as originally presented.




Required Signature:

    def flatten_list(input_list):  
        pass  

for example, calling `flatten_list([5, [4, 3, 2], 1])` 
 will return `[5, 4, 3, 2, 1]` (4 marks)

for example, calling `flatten_list([1, 2, [3, [[4, 5]]], 6, 7, 8])` 
 will return `[1, 2, 3, 4, 5, 6, 7, 8]` (1 mark)

In [4]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
def flatten_list(input_list):  
    my_list = []
    for i in input_list:
        if type(i) == int:
            my_list.append(i)
        elif type(i) == list:
            for x in i:
                if type(x) == int:
                    my_list.append(x)
                elif type(x) == list:
                    for y in x:
                        if type(y) == int:
                            my_list.append(y)
                        if type(y) == list:
                            for z in y:
                                my_list.append(z)
    return my_list


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [5]:
flatten_list([5, [4, 3, 2], 1])
#flatten_list([1, 2, 3, 4, 5, 6, 7, 8])

[5, 4, 3, 2, 1]

3. Palindrome Numbers (1)
-------------------------------
A palindrome number is a number that remains the same when the digits are reversed, e.g. 3, 121, 14641 etc.
Write a function that takes a list of elements `input_list` as an input and return another list that contains `True` for palindrome numbers in the list, 
`False` for non-palindrome numbers in the list and `None` for non-integer elements.
        
        

        

Required Signature:

    def palindrome_numbers1(input_list):  
        pass  

For example,   
`palindrome_numbers1([121,123])` would return `[True, False]`  
`palindrome_numbers1(['a',123])` would return `[None, False]`  
`palindrome_numbers1([])` would return `[]`  
`palindrome_numbers1(['121'])` would return `[None]`

In [6]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
def palindrome_numbers1(input_list):  
    result = []
    for i in input_list:
        if type(i) == int:
            x = str(i)
            if x[0:] == x[-1::-1]:
                result.append(True)
            else:
                result.append(False)
        else:
            result.append(None)
    return result


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [7]:
palindrome_numbers1([121,123])
#palindrome_numbers1(['a',123])
#palindrome_numbers1([])
#palindrome_numbers1(['121'])

[True, False]

4. Tuples To Dict
-------------------------------
Write a function that takes in two tuples, `keys_tuple` and `values_tuple` and returns a dictionary in which 
the elements of `keys_tuple` are used as keys, and the corresponding elements of `values_tuple` are used as the values. (4 marks)

For one further mark, ensure that if two or more elements in `keys_tuple` are the same, 
then it is the first element (and its corresponding element in `values_tuple`) that is used in the 
dictionary. 



Required Signature:

    def tuples_to_dict(keys_tuple, values_tuple):  
        pass  

for example, calling `tuples_to_dict(('a','b', 'c'), (1,2,3))` 
 will return `{'a':1, 'b':2, 'c':3}` (4 marks)

for example, calling `tuples_to_dict(('a','b', 'c', 'a'), (1,2,3,4))` 
 will return `{'a':1, 'b':2, 'c':3}` (1 mark)

In [8]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
def tuples_to_dict(keys_tuple, values_tuple):  
    my_dict = {}
    for key in keys_tuple:
        my_dict[key] = values_tuple[keys_tuple.index(key)]
    return my_dict


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [9]:

tuples_to_dict(('a','b', 'c'), (1,2,3))
#tuples_to_dict(('a','b','b','a', 'c', 'a'), (1,2,3,4,5))

{'a': 1, 'b': 2, 'c': 3}

5. Interests In Common
-------------------------------
Alice, Bob and Charlie have provided lists of their interests. Each interest is a lower-case string.
Write a function that takes in these three lists, and returns a list of the interests they have in common. 

**If there are no interests in common or the lists of interests are all empty, an empty list is returned.**


Required Signature:

    def interests_in_common(alice_interests, bob_interests, charlie_interests):  
        pass  


For example, if 
```
a = ['hunting', 'shooting', 'fishing']
b = ['sewing', 'fishing', 'hunting']
c = ['fishing', 'knitting', 'sewing']
```
then calling `interests_in_common(a, b, c)` 
 will return `['fishing']`"

In [10]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
def interests_in_common(alice_interests, bob_interests, charlie_interests):  
    my_list = []
    for i in alice_interests:
        if i in bob_interests and i in charlie_interests:
            my_list.append(i)
    return my_list


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [11]:
a = ['hunting', 'shooting', 'fishing']
b = ['sewing', 'fishing', 'hunting']
c = ['fishing', 'knitting', 'sewing']


interests_in_common(a, b, c)

['fishing']

6. Name Processing (5)
-------------------------------
Write a function that accepts an input argument list of `full_name` strings, 
each string consisting of a first name, optional middle name, and surname, separated by spaces. 

The function should return a list containing these same names, but with the surname written first, 
followed by a comma, then the first name. If a middle name is present, append only its first letter, 
followed by full-stop (4 marks).

For one extra mark, ensure that the function works with more than one middle name, i.e. each middle name is 
replaced by its first initial and a full stop. 


Required Signature:

    def name_processing5(list_of_names):  
        pass  


for example, using the following list as input:

`['James Bond', 'Zadie Smith', 'Arthur Conon Boyle']`

the function would return:

`['Bond, James', 'Smith, Zadie', 'Boyle, Arthur C.']` (4 marks)

using the following list as input:

`['Zadie Smith', 'Arthur Conon Boyle', 'Albus Percival Wulfric Brian Dumbledore']`

the function would return:

`['Smith, Zadie', 'Boyle, Arthur C.', 'Dumbledore, Albus P. W. B.']` (1 mark)

In [12]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
def name_processing5(list_of_names):
    result = []
    for name in list_of_names:
        if name.count(' ') == 1:
            my_list = name.split(' ')
            result.append(f'{my_list[1]}, {my_list[0]}')
        else:
            my_list = my_list = name.split(' ')
            middles = my_list[1:-1]
            letters_string_list = []
            for i in middles:
                middle_letters = f'{i[0]}.'
                letters_string_list.append(middle_letters)
            letters = ' '.join(letters_string_list)
            result.append(f'{my_list[-1]}, {my_list[0]} {letters}')
    return result


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [13]:
#my_list = ['James Bond', 'Zadie Smith', 'Arthur Conon Boyle']
my_list = ['Zadie Smith', 'Arthur Conon Boyle', 'Albus Percival Wulfric Brian Dumbledore']
name_processing5(my_list)

['Smith, Zadie', 'Boyle, Arthur C.', 'Dumbledore, Albus P. W. B.']

7. Logger
-------------------------------
Write a mock logging class called MyLogger.

The MyLogger class is initialized with a `disk_space` argument which is an
integer. When initialized, `disk_remaining` should be set to the value of
`disk_space`, i.e. it is assumed that none of the disk has been used at this point.

Instance attributes:
- `disk_space` (int)
- `disk_remaining` (int)

The class shall also implement three methods:

Methods:
- `disk_full`: Returns `True` if disk remaining is 0, otherwise `False`.
- `log_to_file`: If the disk is not full, decrement disk_remaining by 1 unit and
    return the string `'Successfully logged'`.
    Otherwise (if the disk is full), return the string `'Disk full'`
- `delete_logs`: Set disk_remaining to disk_space and return the string 
    `'Logs deleted'`



Required Signature:

    class MyLogger:  
        pass  


Example usage:

```
logger = MyLogger(1) # initializes a logger with 1 unit of disk space.
logger.log_to_file() # writes one log to file. Disk remaining should be 0. Returns 'Successfully logged'
logger.log_to_file() # fails to write log to file because disk is full. Returns 'Disk full'
logger.delete_logs() # deletes logs, so disk_remaining should reset back to 1. Returns 'Logs deleted'

```
The above three method calls should return strings `'Successfully logged'`, `'Disk full'` and `'Logs deleted'`.
**Return only these three strings as is and no additional information from these methods.**

In [14]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
class MyLogger:  
    def __init__(self, disk_space:int):
        self.disk_space = disk_space
        self.disk_remaining = disk_space
    
    def disk_full(self):
        if self.disk_remaining == 0:
            return True
        else:
            return False
    
    def log_to_file(self):
        if self.disk_remaining > 0:
            self.disk_remaining -= 1
            return 'Successfully logged'
        else:
            return 'Disk full'
    
    def delete_logs(self):
        self.disk_remaining = self.disk_space
        return 'Logs deleted'


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [15]:
#logger = MyLogger(1) # initializes a logger with 1 unit of disk space.

#logger.disk_remaining


#logger.log_to_file() # writes one log to file. Disk remaining should be 0. Returns 'Successfully logged'
#logger.log_to_file() # fails to write log to file because disk is full. Returns 'Disk full'
#logger.delete_logs() # deletes logs, so disk_remaining should reset back to 1. Returns 'Logs deleted'

8. Dataframe Combine (3)
-------------------------------
Both `input_df1` and `input_df2` store customer details. 
Assume `input_df1` has columns including `'name'` and `'email'`, 
and `input_df2` has columns including `'customer_id'` and `'email'`.

Write a function that combines these two dataframes, and outputs a dataframe containing 
all three of the above attributes, for those customers who are included in both dataframes. 



Required Signature:

    def dataframe_combine3(input_df1, input_df2):  
        pass  


For example, if `df1 = pd.DataFrame({'name': ['Alice', 'Bob'], 'email': ['alice@wherever.com', 'bob@somewhere.com']})`:

| |         name | email |
|---|---|---|
|0 | Alice  |    alice@whereever.com |
|1 | Bob  |    bob@somewhere.com |


And `df2 = pd.DataFrame({'email': ['bob@somewhere.com', 'charlie@mail.com'], 'customer_id': ['bob123', 'charlie456'], 'other data': ['Gold', 'Silver']})`:

|   |      email | customer_id | other data
|---|---|---|---|
| 0 |  bob@somewhere.com | bob123 | Gold
| 1  | charlie@mail.com  |   charlie456 | Silver


Then this would be the expected output:

|   |  name     |         email | customer_id | other data
|---|---|---|---|---|
| 0 |  Bob |  bob@somewhere.com  |    bob123  |   Gold

In [16]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
import pandas as pd
def dataframe_combine3(input_df1, input_df2):  
    merge_df = pd.merge(input_df1, input_df2, on='email', how='inner')
    return merge_df


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [17]:
dataframe_combine3(pd.DataFrame({'name': ['Alice', 'Bob'], 'email': ['alice@wherever.com', 'bob@somewhere.com']}), pd.DataFrame({'email': ['bob@somewhere.com', 'charlie@mail.com'], 'customer_id': ['bob123', 'charlie456'], 'other data': ['Gold', 'Silver']}))

  name              email customer_id other data
0  Bob  bob@somewhere.com      bob123       Gold

9. DataFrame Selector (3)
-------------------------------
Write a function that accepts a single input argument `input_df` (a DataFrame), 
and returns a DataFrame that contains only the first two rows of `input_df`, 
and only those columns of `input_df` that have a column-name beginning with the lower-case character `'x'`. 



Required Signature:

    def dataframe_selector3(input_df):  
        pass  

Example:
If the input dataframe is `input_df = pd.DataFrame({'x': [1,2,3], 'xy': [10,20,30], 'y': [100,200,300]})`:

|   | x |   xy  |   y | 
| --- | --- | --- | --- | 
| 0 | 1 |  10 |  100 | 
| 1 |  2 |  20 |  200 | 
| 2 |  3  | 30 |  300 | 

Calling `dataframe_selector3(input_df)` will return the following dataframe:

|  |   x |    xy | 
| --- | --- | --- | 
| 0 |  1 |  10 | 
| 1 |  2 |  20 |

In [19]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
def dataframe_selector3(input_df):  
    my_list = []
    for i in input_df.columns:
        if i[0] == 'x':
            my_list.append(i)
    output_df = input_df.loc[(0, 1), (my_list)]
    return output_df


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [20]:

input_df = pd.DataFrame({'x': [1,2,3], 'xy': [10,20,30], 'y': [100,200,300], 'yx': [24,23,22]})
dataframe_selector3(input_df)

   x  xy
0  1  10
1  2  20

10. Dataframe Process Data (3)
-------------------------------
Given an input dataframe in which each row holds students' marks for some questions, e.g.

|  | student | question   |    topic | mark |
| --- | --- | --- | --- | --- |
| 0    | Alice | multiply | arithmetic  |   6 |
| 1 |   Bob   | multiply  | arithmetic  |   3 |
| 2 |  Alice  |  divide | arithmetic  |   5 |
| 3 |    Bob  |  divide | arithmetic  |   4 |
| 4 |  Alice  |  angles |   geometry  |  10 |
| 5  |   Bob  |  angles |   geometry  |   5 |

Write a function to calculate the mean mark for each topic, and return this in a dictionary.

Required Signature:

    def dataframe_process_data3(input_df):  
        pass  

 For example, for the following input:
```
pd.DataFrame({'student':['Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob'], 
            'question':['multiply', 'multiply', 'divide', 'divide', 'angles','angles'],
            'topic':['arithmetic', 'arithmetic', 'arithmetic', 'arithmetic', 'geometry','geometry'],
            'mark':[10,20,30,40,50,60]})
```            
this is the expected output:

`{'arithmetic': 25.0, 'geometry': 55.0}`

Note: Your output can return the mean marks as either ints or floats.

In [21]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
import numpy as np
def dataframe_process_data3(input_df):  
    result = input_df.groupby('topic')['mark'].agg(np.mean)
    return result.to_dict()


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [22]:

input_df = pd.DataFrame({'student':['Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob'], 
            'question':['multiply', 'multiply', 'divide', 'divide', 'angles','angles'],
            'topic':['arithmetic', 'arithmetic', 'arithmetic', 'arithmetic', 'geometry','geometry'],
            'mark':[10,20,30,40,50,60]})

dataframe_process_data3(input_df)

{'arithmetic': 25.0, 'geometry': 55.0}

11. Get Air Quality Parameters
-------------------------------

Write a function that uses `https://api.openaq.org/v2/parameters` to return a set of the air quality parameter names for which measurements are available. 
(Example parameter names are `'pm25'` and `'co2'`).
The input_argument `core_only` should by default be `False` 
(meaning: return *all* core and non-core parameter names); 
if this is set to `True`, then only the 'core' parameters should be returned. 
For more details see the documentation 
`https://api.openaq.org/#/v2/parameters_get_v2_parameters_get`


Required Signature:

    def get_air_quality_parameters(url, core_only=False):  
        pass  

For example, when this function was called on 18th November 2022, 
it returned a set of 16 strings including both core parameters such as `'co'` and `'o3'`
as well as non-core parameters such as `'no'` and `'ufp'` (using `core_only=False`)   
Using `core_only = True`, the function returned a set of 7 core parameters such as `'pm25'` and `'o3'`.

In [23]:
# submit (DO NOT REMOVE THESE COMMENTS. REPLACE THE PASS STATEMENT WITH YOUR SOLUTION)
# ------------------------------------------------------------------------------
import requests
def get_air_quality_parameters(url, core_only=False):
    r = requests.get(url)
    result = r.json()
    my_set = set()
    if core_only == False:
        for i in result['results']:
            my_set.add(i['name'])
    elif core_only == True:
        for i in result['results']:
            if i['isCore'] == True:
                my_set.add(i['name'])
    return my_set


> <span style='color: #0072B2'>**Note**</span>  
> You can use the space below (create additional cells as necessary) to work out your solution. These won't be marked.

In [24]:

url = r'https://api.openaq.org/v2/parameters'

get_air_quality_parameters(url, core_only=True)

{'bc', 'co', 'no2', 'o3', 'pm10', 'pm25', 'so2'}